* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.header {
  width: 120rem;
  height: 9rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 4.6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.6rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #555;
}

.section-hero {
  width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 3rem;
  align-items: center;
  margin-bottom: 9.6rem;
}

.hero-img {
  width: 90%;
}

.section-features {
  max-width: 120rem;
  margin: 9.6rem auto;
}

.feature-heading {
  width: 80rem;
  margin: 0 auto 8rem auto;
}

.feature-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feature-img {
  width: 100%;
}
